In [65]:
import pandas as pd
import numpy as np
import os

In [66]:
##################################Set up files location and names
path='../Resources'

broad_category_db='capgpo.csv'
locality_db='catemlde20.csv'
mortality_cause_db='catminde.csv'
main_db='defun.csv'
mex_broad_category_db = 'gpolimex.csv'
mex_mortality_cause_db = 'lista1.csv'
category_detail_db = 'listamex.csv'
relationship_db = 'parentesco.csv'

os.chdir(path)

In [67]:
broad_category = pd.read_csv(broad_category_db)
broad_category.drop(broad_category.columns[[0]], axis=1, inplace=True)
broad_category.head()

   CONSE  CAP  GPO                                          DESCRIP
0      1    1  NaN  Ciertas enfermedades infecciosas y parasitarias
1      2    1  1.0  Enfermedades infecciosas intestinales (A00-A09)
2      3    1  2.0                          Tuberculosis  (A15-A19)
3      4    1  3.0           Ciertas zoonosis bacterianas (A20-A28)
4      5    1  4.0         Otras enfermedades bacterianas (A30-A49)

In [68]:
locality = pd.read_csv(locality_db)
locality.drop(locality.columns[[0]], axis=1, inplace=True)
locality.head()

   CVE_ENT  CVE_MUN  CVE_LOC                 NOM_LOC
0        1        0        0          Aguascalientes
1        1        1        0          Aguascalientes
2        1        1        1          Aguascalientes
3        1        1      106                Arellano
4        1        1      120  Buenavista de Pe침uelas

In [69]:
mortality_cause = pd.read_csv(mortality_cause_db)
mortality_cause.drop(mortality_cause.columns[[0]], axis=1, inplace=True)
mortality_cause.head()

    CVE                                         DESCRIP
0  A010                                 Fiebre tifoidea
1  A012                           Fiebre paratifoidea B
2  A020                   Enteritis debida a Salmonella
3  A021                      Sepsis debida a Salmonella
4  A029  Infecci칩n debida a Salmonella, no especificada

In [70]:
main = pd.read_csv(main_db)
main.drop(main.columns[[0]], axis=1, inplace=True)
main.head()

,Unnamed: 0.1,ENT_REGIS,MUN_REGIS,ENT_RESID,MUN_RESID,TLOC_RESID,LOC_RESID,ENT_OCURR,MUN_OCURR,TLOC_OCURR,...,MATERNAS,LENGUA,COND_ACT,PAR_AGRE,ENT_OCULES,MUN_OCULES,LOC_OCULES,RAZON_M,DIS_RE_OAX,year
0,0,1,1,1,1,15,1,1,1,15,...,NaN,2,9,88,88,888,8888,NaN,999,2020
1,1,1,1,1,1,15,1,1,1,15,...,NaN,9,9,88,88,888,8888,NaN,999,2020
2,2,1,1,1,1,15,1,1,1,15,...,NaN,2,2,88,88,888,8888,NaN,999,2020
3,3,1,1,1,1,15,1,1,1,15,...,NaN,9,9,88,88,888,8888,NaN,999,2020
4,4,1,6,1,9,4,1,1,9,4,...,NaN,2,1,88,88,888,8888,NaN,999,2020

In [71]:
mex_broad_category = pd.read_csv(mex_broad_category_db)
mex_broad_category.drop(mex_broad_category.columns[[0]], axis=1, inplace=True)
mex_broad_category.head()

  VALOR                                         DESCRIPCIO
0    01              ENFERMEDADES INFECCIOSAS INTESTINALES
1    02                                       TUBERCULOSIS
2    03                     OTRAS ENFERMEDADES BACTERIANAS
3    04  INFECCIONES CON MODO DE TRANSMISION PREDOMINAN...
4    05  OTRAS ENFERMEDADES INFECCIOSAS Y PARASITARIAS ...

In [72]:
mex_mortality_cause= pd.read_csv(mex_mortality_cause_db)
mex_mortality_cause.drop(mex_mortality_cause.columns[[0]], axis=1, inplace=True)
mex_mortality_cause.head()

   CVE                                            DESCRIP
0    1  001 Ciertas  enfermedades infecciosas  y paras...
1    2                                         002 C칩lera
2    3  003 Diarrea y gastroenteritis de presunto orig...
3    4    004 Otras enfermedades infecciosas intestinales
4    5                      005 Tuberculosis respiratoria

In [73]:
category_detail= pd.read_csv(category_detail_db)
category_detail.drop(category_detail.columns[[0]], axis=1, inplace=True)
category_detail.head()

   CVE                                DESCRIP
0   01  Enfermedades infecciosas intestinales
1  01A                                 C칩lera
2  01B                        Fiebre tifoidea
3  01C                    Fiebre paratifoidea
4  01D                             Shigelosis

In [74]:
relationship= pd.read_csv(relationship_db)
relationship.drop(relationship.columns[[0]], axis=1, inplace=True)
relationship.head()

   CLAVE  DESCRIP
0      1    Padre
1      2    Madre
2      3  Hermano
3      4  Hermana
4      5     Hijo

In [75]:
chapter=broad_category.loc[pd.isnull(broad_category).any(1),:]
chapter

     CONSE  CAP  GPO                                            DESCRIP
0        1    1  NaN    Ciertas enfermedades infecciosas y parasitarias
22      23    2  NaN                               Tumores (neoplasias)
41      42    3  NaN  Enfermedades de la sangre y de los 칩rganos hem...
48      49    4  NaN  Enfermedades endocrinas, nutricionales y metab...
57      58    5  NaN           Trastornos mentales y del comportamiento
69      70    6  NaN                  Enfermedades del sistema nervioso
81      82    7  NaN                  Enfermedades del ojo y sus anexos
93      94    8  NaN   Enfermedades del o칤do y de la ap칩fisis mastoides
98      99    9  NaN              Enfermedades del sistema circulatorio
109    110   10  NaN              Enfermedades del sistema respiratorio
120    121   11  NaN                 Enfermedades del sistema digestivo
131    132   12  NaN    Enfermedades de la piel y del tejido subcut치neo
140    141   13  NaN  Enfermedades del sistema osteomuscular y del t...
156    157   14  NaN            Enfermedades del sistema genitourinario
168    169   15  NaN                        Embarazo, parto y puerperio
176    177   16  NaN  Ciertas afecciones originadas en el per칤odo pe...
187    188   17  NaN  Malformaciones  cong칠nitas, deformidades y ano...
199    200   18  NaN  S칤ntomas, signos y hallazgos anormales cl칤nico...
213    214   20  NaN      Causas externas de morbilidad y de mortalidad

In [76]:
states=locality.drop(locality[(locality["CVE_MUN"]>0) | (locality["CVE_LOC"]>0)].index)
states.head()

     CVE_ENT  CVE_MUN  CVE_LOC               NOM_LOC
0          1        0        0        Aguascalientes
189        2        0        0       Baja California
372        3        0        0   Baja California Sur
443        4        0        0              Campeche
662        5        0        0  Coahuila de Zaragoza

In [77]:
municipalities=locality.drop(locality[(locality["CVE_MUN"]>0) & (locality["CVE_LOC"]!=1)].index)
municipalities["ID"]=municipalities["CVE_ENT"].apply(str)+"_"+municipalities["CVE_MUN"].apply(str)
municipalities.head()

    CVE_ENT  CVE_MUN  CVE_LOC         NOM_LOC   ID
0         1        0        0  Aguascalientes  1_0
2         1        1        1  Aguascalientes  1_1
28        1        2        1        Asientos  1_2
58        1        3        1        Calvillo  1_3
82        1        4        1           Cos칤o  1_4

In [78]:
#Create unique dataframe
main_dataset=main

###Handle dates
main_dataset = main_dataset.drop(main_dataset[main_dataset["ANIO_OCUR"] > 2021].index)
main_dataset = main_dataset.drop(main_dataset[main_dataset["MES_OCURR"]>12].index)
main_dataset = main_dataset.drop(main_dataset[main_dataset["DIA_OCURR"]>31].index)
main_dataset = main_dataset.drop(main_dataset[main_dataset["ANIO_REGIS"]>2021].index)
main_dataset = main_dataset.drop(main_dataset[main_dataset["MES_REGIS"]>12].index)
main_dataset = main_dataset.drop(main_dataset[main_dataset["DIA_REGIS"]>31].index)
main_dataset = main_dataset.drop(main_dataset[main_dataset["ANIO_NACIM"]>2021].index)
main_dataset =main_dataset.drop(main_dataset[main_dataset["MES_NACIM"]>12].index)
main_dataset =main_dataset.drop(main_dataset[main_dataset["DIA_NACIM"]>31].index)
main_dataset["date_regis"]=pd.to_datetime(dict(year=main_dataset["ANIO_REGIS"], month=main_dataset["MES_REGIS"],day=main_dataset["DIA_REGIS"]))
main_dataset["date_ocur"]=pd.to_datetime(dict(year=main_dataset["ANIO_OCUR"],month=main_dataset["MES_OCURR"], day=main_dataset["DIA_OCURR"] ))
main_dataset["date_nacim"]=pd.to_datetime(dict(year=main_dataset["ANIO_NACIM"],month=main_dataset["MES_NACIM"], day=main_dataset["DIA_NACIM"]))

In [ ]:

###Get name, group and chapter of the cause of death
main_dataset=pd.merge(main_dataset,mortality_cause[["CVE","DESCRIP"]],left_on="CAUSA_DEF", right_on="CVE", how="left" )
main_dataset=pd.merge(main_dataset,chapter[["CAP","DESCRIP"]],left_on="CAPITULO", right_on="CAP", how="left" )
#main_dataset=pd.merge(main_dataset,broad_category[["GPO","DESCRIP"]],left_on="GRUPO", right_on="GPO", how="left" )


###Handle locations
main_dataset["resid_location_id"]=main_dataset["ENT_RESID"].apply(str)+"_"+main_dataset["MUN_RESID"].apply(str)
main_dataset=pd.merge(main_dataset,states[["CVE_ENT","NOM_LOC"]],left_on="ENT_RESID", right_on="CVE_ENT", how="left" )
main_dataset=pd.merge(main_dataset,municipalities[["ID","NOM_LOC"]],left_on="resid_location_id", right_on="ID", how="left" )

###Handle Values
main_dataset["gender"]=np.where(main_dataset["SEXO"]==1,"Male",np.where(main_dataset["SEXO"]==2,"Female","ND"))



dict_scholarity={
1:"No education",
2:"Pre-school",
3:"Incomplete primary",
4:"Complete primary",
5:"Incomplete secondary",
6:"Complete secondary",
7:"Incomplete High school",
8:"Complete High school",
9:"Professional",
10:"Postgraduate",
88:"Under 3 years",
99:"Unknown"
}


dict_cap_disease={
"Enfermedades del sistema circulatorio":"Circulatory",
"Tumores (neoplasias)":"Tumors",
"Enfermedades del sistema digestivo":"Digestive",
"Ciertas enfermedades infecciosas y parasitarias":"Infections",
"Enfermedades del sistema respiratorio":"Respiratory",
"Trastornos mentales y del comportamiento":"Mental",
"Enfermedades de la sangre y de los 칩rganos hematopoy칠ticos, y ciertos trastornos que afectan el mecanismo de la inmunidad":"Blood",
"Enfermedades endocrinas, nutricionales y metab칩licas":"Endocrine",
"Enfermedades del sistema nervioso":"Nervious",
"Enfermedades del ojo y sus anexos":"Eye",
"Enfermedades del o칤do y de la ap칩fisis mastoides":"Ear",
"Enfermedades de la piel y del tejido subcut치neo":"Skin",
"Enfermedades del sistema osteomuscular y del tejido conjuntivo":"Muscular",
"Enfermedades del sistema genitourinario":"Reproductive",
"Embarazo, parto y puerperio":"During Pregnancy",
"Ciertas afecciones originadas en el per칤odo perinatal":"Perinatal",
"Malformaciones  cong칠nitas, deformidades y anomal칤as cromos칩micas":"Congenital",
"S칤ntomas, signos y hallazgos anormales cl칤nicos y de laboratorio, no clasificados en otra parte":"Abnormal",
"Causas externas de morbilidad y de mortalidad":"External causes"
}

dict_cap_language={
1:"Indigenous language",
2:"Spanish",
8:"Under 3 years old",
9:"No data"
}

dict_cap_insurance={
1:"None",
2:"IMSS",
3:"ISSSTE",
4:"PEMEX",
5:"SEDENA",
6:"SEMAR",
7:"Seguro Popular",
8:"Another",
9:"IMSS Prospera",
99:"No data"
}




main_dataset["scholarity"]=main_dataset["ESCOLARIDA"]
main_dataset=main_dataset.replace({"scholarity":dict_scholarity})

main_dataset["death_cause_eng"]=main_dataset["DESCRIP_y"]
main_dataset=main_dataset.replace({"death_cause_eng":dict_cap_disease})

main_dataset["language_eng"]=main_dataset["LENGUA"]
main_dataset=main_dataset.replace({"language_eng":dict_cap_language})

main_dataset["insurance_eng"]=main_dataset["DERECHOHAB"]
main_dataset=main_dataset.replace({"insurance_eng":dict_cap_insurance})

In [ ]:
import datetime

main_dataset=main_dataset.rename(columns={"DESCRIP_x":"death_cause_desc","DESCRIP_y":"death_cause_cap","NOM_LOC_x":"state","NOM_LOC_y":"municipality"})

In [ ]:
import datetime as dt
fields_to_keep = ["date_regis","date_ocur","date_nacim","death_cause_desc","state",
                  "municipality","gender","scholarity","death_cause_eng", "language_eng", "insurance_eng" ]
main_dataset=main_dataset[["date_regis","date_ocur","date_nacim","death_cause_desc","state",
                  "municipality","gender","scholarity","death_cause_eng", "language_eng", "insurance_eng"]]
main_dataset["death_age"]=(main_dataset["date_ocur"]-main_dataset["date_nacim"])/np.timedelta64(1,'Y')


main_dataset["death_cause_eng"].fillna("Covid-19",inplace=True)
main_dataset.to_csv("./Resources/mexicomortality.csv")